<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情</title>
</head>

<body>
<table border="1">
    <tr>
        <th>学号___姓名</th>
        <th>成绩</th>
    </tr>
    {% for field in information if field.widget.input_type != 'hidden'%}
			<tr>
                <td>{{ field.label }}</td>
                <td> {{ field.data }}</td>
            </tr>
    {% endfor %}
</table>
<p><button style="float: left" type="submit"><a href="http://localhost:5000/mark/{{crs_id}}">打分</a></button></p>
</body>
</html>